*.user*
libQQmlModels.a
libQQmlModels.prl
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
.moc
.obj
*.QQmlModels.Debug
object_script.QQmlModels.Release
object_script.QQmlModelsd.Debug
debug/
release/
libQQmlModels.so
QQmlModels.framework
QQmlModels_debug.framework
libQQmlModels_*
mkspecs
.qmake.cache
lib/
include/
src/QQmlModels/QQmlModelsd_resource.rc
src/QQmlModels/QQmlModels_resource.rc
src/build-*
